/*
  Variables
*/

.c-tf-fields__input-text {
  --tf-input-text-min-width: 17.81rem; /* 285px */
  --tf-input-text-min-height: 2.25rem; /* 36px */
  --tf-input-text-min-height-small: 2rem; /* 32px */
  --tf-input-text-min-height-large: 2.875rem; /* 46px */

  --tf-input-text-border-color: #CED1DB;
  --tf-input-text-border: 1px solid var(--tf-input-text-border-color);
  --tf-input-text-border-radius: 2px;
  --tf-input-text-border-color-active: #6254E8;

  --tf-input-text-input-color: var(--x-color-gray-7);
  --tf-input-text-label-color: var(--x-color-gray-5);

  --tf-input-text-padding: 0.5rem;
  --tf-input-text-font-size: 0.875rem; /* 14px */

  --tf-input-text-background-color-disabled: var(--x-color-gray-1);
}

/*
  Input
*/

.c-tf-fields__input-text {
  min-width: var(--tf-input-text-min-width);
  border-radius: var(--tf-input-text-border-radius);
  border: var(--tf-input-text-border);
  color: var(--tf-input-text-input-color);
  padding: var(--tf-input-text-padding);
  font-size: var(--tf-input-text-font-size);
}

.c-tf-fields__input-text:active {
  border-color: var(--tf-input-text-border-color-active);
}

.c-tf-fields__input-text:hover {
  border-color: var(--x-color-gray-8);
}

/*
  Size
*/

.c-tf-fields__input-text--small {
  min-height: var(--tf-input-text-min-height-small);
}

.c-tf-fields__input-text--medium {
  min-height: var(--tf-input-text-min-height);
}

.c-tf-fields__input-text--large {
  min-height: var(--tf-input-text-min-height-large);
}

/*
  Disabled  
*/

.c-tf-fields__input-text--disabled {
  background-color: var(--tf-input-text-background-color-disabled);
}

.c-tf-fields__input-text--disabled:hover {
  border-color: var(--tf-input-text-border-color);
}
