/*
  Variables
*/

.c-tf-fields__label-text {
  --tf-label-font-size: 0.875rem; /* 14px */
  --tf-label-color: var(--x-color-gray-5);
}

/*
  Label
*/

.c-tf-fields__label-text {
  font-size: var(--tf-label-font-size);
  color: var(--tf-label-color);

  /* adds line break after label */
  content: '\A'; 
  white-space: pre;
}
